html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f5f8fa;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.rc-nav a {
    color: #000000;    
    margin-left: 20px;
    text-decoration: none;

}

.rc-nav a:hover {
    text-decoration: underline;
}


a:hover {
    text-decoration: underline;
}

.rc-page {
    max-width: 900px;
    margin: 40px auto;
    background-color: #f5f8fa;
}

.rc-header-inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #f5f8fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rc-header-logo img,
.rc-logo {
    height: 40px;
}

.rc-nav {
    text-align: right;
}

.rc-nav a {
    margin-left: 20px;
}


.rc-hero {
    text-align: center;
    margin-bottom: 30px;
}

.rc-hero h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 900 !important;
}

.rc-animals-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.rc-card {
    background-color: #ffffff;
    padding: 5px 5px 50px;   
    text-align: left;
    border-radius: 32px;
    box-shadow: 0 0 0 1px #e5edf5;
    width: 320px;
    display: flex;
    flex-direction: column;
    max-height: 370px;
}


.rc-card img {
    display: block;
    width: 100%;           
    height: 220px;         
    object-fit: cover;   
    border-radius: 24px;
    margin: 0 0 16px;
}



.rc-link-primary {
    color: #52c9ff;
}

.rc-link-danger {
    color: #52c9ff;
}

.rc-card-actions a:hover {
    text-decoration: underline;
}


.rc-card h2 {
    margin: 8px 0 6px;
    font-size: 24px;
    font-weight: 900;
}

.rc-card p {
    margin: 0px 0;  
}

.rc-card-description {
    font-size: 14px;
    margin-top: 8px;
    flex: 1;           
}

.rc-card-actions {
    margin-top: 10px;
    text-align: center;    
}

.rc-card-actions a {
    font-size: 14px;
    text-decoration: none;
    margin: 0 12px;       
}


.rc-animal-detail {
    max-width: 900px;
    margin: 40px auto;
}
.rc-animal-detail h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.rc-animal-detail-body {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.rc-animal-detail-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.rc-animal-detail-text p {
    margin: 8px 0;
}

.rc-footer {
    background-color: #ffffff;
}

.rc-footer-inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0;
    background-color: #ffffff;
    text-align: center;
    font-size: 12px;
}

.rc-404-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
